numpy
pandas
seaborn
neattext
plotly
scikit-learn
joblib

step-1: install the streamlit requirement python library files
step-2: To run the program go to commend promt write the commend
streamlit run app.py

Admin username: admin
Admin password: admin
